---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <!--
    want to add << PREV POST | NEXT POST >> button here - JR
  -->

  <div class="PageNavigation">
    {% if page.previous.url %}
      <a class="prev" href="{{site.baseurl}}{{page.previous.url}}">&laquo; {{page.previous.title}} </a>
    {% endif %}
    {% if page.next.url %}
      <a class="next" href="{{site.baseurl}}{{page.next.url}}">{{page.next.title}} &raquo;</a>
    {% endif %}
  </div>

<br>
  <p class="article_date">{{ page.date | date: "%-d %b %Y" }}</p>
  <header class="article_header">
    <h1 class="article_title" itemprop="name headline" style="text-align:center">{{ page.title }}</h1>
  </header>

  <div class="article-content" itemprop="articleBody">
    {{ page.content }}
  </div>

<br><br>

  <footer class="article-footer">
    <div class="footer-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">posted on {{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}
    </div>
    <div class="footer-tags">
      <b>Tags</b>&ensp;
      <span>
        {% for tag in page.tags %}
          {% capture tag_name %}{{ tag }}{% endcapture %}
          <a href="/tag/{{ tag_name }}">{{ tag_name }}</a>&nbsp;
        {% endfor %}
      </span>
    </div>

  </footer>

  <br>

  <footer class="article-footer">
    <p>If you enjoyed this post, subscribe below to receive email alerts of new posts, or <a href="https://ko-fi.com/jakeunderscore">buy me a coffee here</a>: </p>
    <div class="newsletter-container">
        <form class="newsletter-form" action="https://tinyletter.com/underscoreblog" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/underscoreblog', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
          <p><input class="newsletter-text" style="color:#000000; width:300px" type="text" name="email" placeholder="Email address"/></p>
          <input type="hidden" value="underscoreblog" name="uri"/>
          <input type="hidden" name="loc" value="en_US"/>
          <input type="submit" id="newsletter-subscribe-post" value="Subscribe" /></form>
    </div>
  </footer>
  <br><br>

  {% include dq.html %}

</article>
